<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring6x1:war exploded">
    <output-path>$PROJECT_DIR$/SSH/spring6x1/target/spring6x1</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring6x1" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/SSH/spring6x1/target/spring6x1/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring6x1/web/Web" />
    </root>
  </artifact>
</component>